# local .terraform directory
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files
*.tfvars

# tf CLI config files
.terraformrc
terraform.rc

# Mac/OSX system file (folder metadata)
.DS_Store

# tf crash logs
crash.log